    header {
      background-size: 50% 50%;
      background-repeat: no-repeat;
      color: orange;
      background-color: black;
    }
    
    li {
      display: inline;
       text-align: center;
    }
    @media (max-width: 500px) {
     
    }
  #about{
  background-color: black;
  }
  
  .form-control {
    background:rgba(0, 0, 0, 0.6);
    border: 2px solid lightblue;
}

.jumbotron{
   background:rgba(0, 0, 0, 0.6); 
}